
  body {
    background: linear-gradient(120deg, white 0%,  #9b2c17 100%) no-repeat center center fixed;
    background-size: cover;
    background-color: #f5f5f5;
  }

  .row{
    padding-top: 100px;
  }


  .btn {
    background-color: #9b2c17;
    border-color:  #9b2c17;
  }

  .btn:hover {
    background-color: pink;
    border-color:  pink;

  }
